emoji>=0.5,<0.5.99
Keras>=2.2,<2.2.99
nltk>=3.4,<3.4.99
numpy>=1.16,<1.16.99
psutil>=5.6,<5.6.99
redis>=3.2,<3.2.99
rq>=1.0,<1.0.99
# Freeze scikit-learn at 0.19 because we're loading pickled data from this version.
scikit-learn>=0.19.2,<0.19.99
stanfordcorenlp>=3.9,<3.9.99
# Freeze tensorflow at 1.13 to avoid warnings and potential issues
tensorflow>=1.13,<1.13.99
vaderSentiment>=3.2,<3.2.99
